/* HOME PAGE */

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }
  
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }
  
  .typed-name {
    font-size: 3rem;
    color: #6B46C1; /* Neon purple */
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #6B46C1; /* Cursor effect */
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  .description {
    font-size: 1.2rem;
    color: white;
    opacity: 0;
    animation: fadeIn 4s forwards;
    margin-top: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .profile-image {
    max-width: 80%;
    height: auto;
    margin-left: 80px;
    animation: glideIn 2s ease forwards;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6B46C1; }
  }
  
  @keyframes glideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* EXPERIENCE */

.experience-container {
  padding: 50px 0;
  text-align: center;
  /*overflow-y: auto;  Enable vertical scrolling */
  /*max-height: calc(100vh - 150px);  Limit height to viewport height minus padding */
}

.experience-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: white;
}

.experience-boxes {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center boxes horizontally */
}

.experience-box {
  width: 80%; /* Adjust the width of the boxes */
  max-width: 700px; /* Set a maximum width for the boxes */
  padding: 20px;
  margin: 20px auto; /* Center the boxes horizontally */
  background-color: rgba(59, 39, 80, 0.614); /* Transparent light purple */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Animation */
  opacity: 0; /* Initially hide the box */
  transform: translateY(20px); /* Move the box down by 20px */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition effect */

}

.experience-box.animate {
  opacity: 1; /* Show the box */
  transform: translateY(0); /* Move the box to its original position */
}


.experience-box-title {
  font-size:2rem; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 15px;
  color: white;
}

.experience-job-title {
  text-align: left; 
  font-style: italic;
  padding-top: 15px;
  color:bisque;
}

.experience-box-header {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding-top: 25px;
}

.experience-box-subpoints {
  margin-top: 10px; 
  text-align: left;
  list-style-type: none;
  padding-left: 60px; 
}

.experience-box-subpoints li {
  margin-bottom: 5px;
  color: white;
  padding-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.experience-links {
  color: rgb(240, 196, 255); 
  padding-top: 10px; 
  margin-bottom: 30px;
  font-style: italic;
} 

.side-menu {
  position: fixed;
  text-align: left;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  color: white;
}

.side-menu ul {
  list-style-type: none;
  padding-left: 25px;
}

.side-menu li {
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s, font-size 0.3s;
}

.side-menu li.active {
  transform: scale(1.2);
  font-size: 1.2rem;
}

.side-menu a,
.side-menu button {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}